*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --iris: #4D5AE5;
    --navyblue: #2E2F42;
    --black: black;
    --ocean: #404BBF;
    --white: #ffffff;
    --slate: #434455;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --green:#31D0AA;
    --lightslate: #8E8F99;
    --navybluemodal:#2E2F42;
    --grey:#2E2F42;
    --dairy: #FCFCFC;
}

body{
    font-family:  'Roboto', sans-serif;
    font-size: 16px;
    color: var(--navyblue);
    line-height: 1.5em;
    letter-spacing: 2%;
    max-width: 100%;
}

address{
    font-style: normal;
}

a{
    text-decoration: none;
}

.sub-heading{
    text-align: center;
    padding: 35px;
    color: var(--navyblue);
    text-align: center;
    font-family: inherit;
    font-size: 36px;
    font-weight: 700;
    line-height: 2.5em; 
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.main-header{
    overflow: auto;
    padding: 5px;
    border-bottom: 2px solid var(--cornflower);
}

.nav-logo{
    position: absolute;
    margin-top: 18px;
    margin-left: 100px;
    color: var(--navyblue);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 800;
    line-height: 1.3em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.iris{
    color: var(--iris);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 800;
    line-height: 1.3em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.nav-list{
    padding: 0;
    margin: 0 0 0 280px;
    list-style-type: none;
    font-weight: bolder;
}

.nav-list-item-link{
    color: var(--navyblue);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.nav-list-item{
    display: block;
    padding: 18px 20px;
    text-align: center;
    float: left;
    
}

.nav-list-item-link{
    font-weight: 500;
    letter-spacing: 0.32px;
}

.nav-list-item-link:hover,
.nav-list-item-link:focus {
    color: var(--ocean);
    border-bottom: 2px solid var(--ocean);
    padding: auto;
}

.address {
    overflow: hidden;
    margin-right: 90px;
    text-align: center;
}

.address-item{
    float: right;
    list-style-type: none;
}

.address-item-link{
    display: block;
    padding: 18px 20px;
    text-align: center;
    color: var(--slate);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}


.address-item-link:hover, 
.address-item-link:focus{
    color: var(--ocean);
    border-bottom: 2px solid var(--ocean);
    padding: auto;
}

.hero{
    background-color: var(--navybluemodal);
    height: 650px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero-heading{
    color: var(--white);
    text-align: center;
    font-family:inherit;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07em;
    letter-spacing: 1.12px;
    
}

.hero-button{
    background-color: var(--iris);
    color: var(--white);
    border: none;
    border-radius: 8px;
    padding: 15px 27px;
    margin-top: 10em;
    position: absolute;
    box-shadow: 0px 4px 4px 0px var(--navyblue);
    text-shadow: 1px 2px 2px var(--black);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;
}

.hero-button:hover, .hero-button:focus{
    background-color: var(--ocean);
}

.features-list{
    align-items: center;
    margin: 80px 90px;
}

.features-list-item{
    width: 250px;
    padding: 30px;
    display: inline-block;
    justify-content: center;
    list-style-type: none;
}

.feature-header{
    color: var(--navyblue);
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.4px;
}

.feature-description{
    color: var(--slate);
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em; 
    letter-spacing: 0.32px;
}

.services-list{
    margin-left: 85px;
    margin-bottom: 120px;
}

.services-list-item{
    display: inline-block;
    justify-content: center;
    padding: 0 10px;
}

.team{
    background-color: var(--cloud);
    padding: 2px 20px;
}

.team-list-item{
    background-color: var(--white);
    box-shadow: 0 4px 8px 0 var(--navyblue);
    transition: 0.3s;
    width: 20em;
    display: inline-block;
    justify-content: center;
    margin: 50px 0 80px 25px;
}

.tm-name{
    color: var(--navyblue);
    text-align: center;
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.4px;
}

.tm-description{
    color: var(--slate);
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.team-member-img{
    width: 20em;
}

/*--Portfolio--*/
.filter-button-item{
    display: inline-block;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 10px 10px;
}

.filter-button{
    color: var(--iris);
    text-align: center;
    background-color: var(--cloud);
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 500;
    letter-spacing: 0.64px;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--cornflower);     
}

.filter-buttons{
    margin-top: 30px;
    margin-left: 23%;
    padding: 10px;
}

.active, .ffilter-button:hover, 
.filter-button:focus{
    background-color: var(--ocean);
    color: var(--white);
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.porfolio-list-item{
    list-style-type: none;
}

/*--End of Portfolio-*/

/*--Footer-*/
.footer{
    background-color: var(--navyblue);
    color: var(--white);
    height: 300px;
}

.footer-logo{
    padding: 40px 0 0 30px;
    margin: 30px 0 0 80px;
}

.footer-description{
    width: 264px;
    padding: 0 60px;
    margin: 15px 0 0 50px;
    color: var(--cloud);
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5em; 
    letter-spacing: 0.32px;
}

.cloud{
    color: var(--cloud);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.3em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
/*--End of Footer-*/