*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --iris: #4D5AE5;
    --navyblue: #2E2F42;
    --black: black;
    --ocean: #404BBF;
    --white: #ffffff;
    --slate: #434455;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --green:#31D0AA;
    --lightslate: #8E8F99;
    --navybluemodal:#2E2F42;
    --grey:#2E2F42;
    --dairy: #FCFCFC;
}

body{
    font-family:  'Roboto', sans-serif;
    font-size: 16px;
    color: var(--navyblue);
    line-height: 1.5em;
    letter-spacing: 2%;
    max-width: 100%;
}

address{
    font-style: normal;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

.sub-heading{
    padding: 35px;
    color: var(--navyblue);
    text-align: center;
    font-family: inherit;
    font-size: 36px;
    line-height: 1.11em; 
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.main-header{
    /*width: 1440px;
    height: 72px; */
    display: flex;
    width: 1440px;
    height: 72px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid var(--cornflower);
    background: var(--white);
}

.header-nav{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.nav-logo{
    display: inline-flex;
    height: 24px;
    align-items: center;
    flex-shrink: 0;
    margin: 24px 1169px 24px 156px;
    color: var(--navyblue);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 800;
    line-height: 1.1em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.iris{
    color: var(--iris);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 800;
    line-height: 1.1em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.nav-list-item{
    list-style-type: none;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    margin: 24px 832px 24px 347px;
}

.nav-list-item-link{
    color: var(--navyblue);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.nav-list-item{ 
}

.nav-list-item-link:hover,
.nav-list-item-link:focus {
    color: var(--ocean);
    border-bottom: 2px solid var(--ocean);
}

.address {
    overflow: hidden;
    margin-right: 90px;
    text-align: center;
}

.address-item{
    float: right;
    list-style-type: none;
}

.address-item-link{
    display: block;
    padding: 18px 20px;
    text-align: center;
    color: var(--slate);
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}


.address-item-link:hover, 
.address-item-link:focus{
    color: var(--ocean);
}

.hero{
    background-color: var(--navybluemodal);
    height: 650px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-heading{
    width: 496px;
    color: var(--white);
    text-align: center;
    font-family:inherit;
    font-size: 56px;
    line-height: 1.07em;
    letter-spacing: 1.12px; 
    margin: 188px 472px 292px 472px;
}

.hero-button{ 
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 4px;
    border: none;
    background: var(--iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    margin-top: 10em;
    position: absolute;
    color: var(--white);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;
}

.hero-button:hover, .hero-button:focus{
    border-radius: 4px;
    background: var(--ocean); 
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.features-list{
    align-items: center;
    margin: 80px 90px;
}

.features-list-item{
    width: 250px;
    padding: 30px;
    display: inline-block;
    justify-content: center;
    list-style-type: none;
}

.feature-heading{
    color: var(--navyblue);
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.4px;
}

.feature-description{
    color: var(--slate);
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5em; 
    letter-spacing: 0.32px;
    width: 264px;
    padding: 10px;
}

.services{
    height: 516px;
    flex-shrink: 0;
}

.services-list{
    margin-left: 85px;
    margin-bottom: 120px;

}

.services-list-item{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
}

.team{
    background-color: var(--cloud);
    padding: 2px 20px;
    height: 732px;
    flex-shrink: 0;
}

.team-card{
    margin: 50px 0 80px 25px;
    display: inline-flex;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 0px 0px 4px 4px;
    background: var(--white);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-name{
    color: var(--navyblue);
    text-align: center;
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
}

.team-description{
    color: var(--slate);
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.team-member-img{
    width: 264px;
    height: 260px;
}

/*--Portfolio--*/
.filter-buttons{
    margin-top: 30px;
    margin-left: 23%;
    padding: 10px;
}

.filter-buttons-list{
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
}

.filter-button-item {
    list-style: none;
}

.filter-button.active{
    display: flex;
    padding: 12px 24px;
    align-items: flex-start;
    color: var(--white);
    border-radius: 4px;
    border: 1px solid var(--ocean);
    background: var(--ocean);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.filter-button {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    background: var(--cloud);

    /* Button Text */
    color: var(--iris);
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;
}

.filter-button:hover, 
.filter-button:focus{
    color: var(--white);
    border-radius: 4px;
    border: 1px solid var(--ocean);
    background: var(--ocean);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.portfolio-list{
    list-style-type: none;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
}

.portfolio-card{
    display: flex;
    width: 360px;
    height: 420px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
    border: 1px solid var(--cornflower);
    background: var(--white); 
}

.portfolio-img{
    width: 360px;
    height: 300px;
    flex-shrink: 0;
}

.portfolio-heading{
    color: var(--navyblue);
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
}

.portfolio-type{
    color: var(--slate);
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.portfolio-card-content{
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

/*--End of Portfolio-*/

/*--Footer-*/
.footer{
    background-color: var(--navyblue);
    color: var(--white);
    height: 312px;
    flex-shrink: 0;
}

.footer-logo{
    display: inline-flex;
    height: 24px;
    align-items: center;
    flex-shrink: 0;
}

.footer-description{
    width: 264px;
    height: 72px;
    padding: 0 60px;
    margin: 15px 0 0 50px;
    color: var(--cloud);
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5em; 
    letter-spacing: 0.32px;
}

.cloud{
    color: var(--cloud);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 800;
    line-height: 1.3em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
/*--End of Footer-*/
